@import "./assets/menu";
@import "./assets/banner";
@import "./assets/beticons";
@import "./assets/bginfo";
@import "./assets/sobre";
@import "./assets/bgicons";
@import "./assets/servicos";
@import "./assets/clientes";
@import "./assets/contato";
@import "./assets/time";
@import "./assets/footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header {
    .menu {
      padding: 0 75px;
    }
  } // Header

  .banner {
    header {
      padding: 20px 50px;
    }

    .content {
      padding: 75px;

      h2 {
        font-size: 2.75em;
      }
  
      p {
        font-size: 1em;
      }
    }
  } //Banner

  .bet-icons {
    .container {
      padding: 30px 60px;
    }
  } // Bet-Icons

  .infos {
    .container {
      padding: 0 75px;
      flex-direction: column;
    }

    .info-text {
      padding-top: 30px;

      h2 {
        margin-bottom: 30px;
      }

      a {
        padding: 10px 30px;
      }
    }
    
  } // Infos

  section#sobre {
    padding: 30px 75px;
  }

  .clientes {
    padding: 30px 75px;
  } // Sobre

  section#time {
    padding: 0 75px;
    .container {
      padding: 25px;
      justify-content: center;
    }
  } // Sobre

  section#contato {
    padding: 15px 75px;
  } // Contato

  section#formContato {

    .contentBx {
      width: 100%;
      padding: 150px;
      min-height: 400px;
      text-align: center;
    }

    .imgbx {
      display: none;
    }
  } //Contato

  section#footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
    
    .mob {
      display: block;
      width: 245px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  } //Footer
}

@media (max-width: 893px) {
  .menu {
    .menu-item {
      width: 100%;
      top: 0;
      display: none;

      a {
        margin: 0;
        display: block;
        text-align: center;
        padding: 15px 0;
      }
      a:hover {
        background: #1f1f1f;
      }
    }

    .menu-item.active {
      display: block;
      transform: 1s linear;
    }

    .menu-toggle {
      .toggle {
        top: 24px;
        display: block;
      }
    }
  }
  
  .bg-icons {
    display: none;
  }
}

@media (max-width: 699px) {
  .bet-icons {
    display: none;
  }
}

@media (max-width: 551px) {
  header {
    .menu {
      padding: 0 10px;
    }

    .menu-toggle {
      .toggle {
        right: 10px;
        top: 20px;
      }
    }
  }
}