@import "./assets/menu";
@import "./assets/banner";
@import "./assets/beticons";
@import "./assets/bginfo";
@import "./assets/sobre";
@import "./assets/bgicons";
@import "./assets/servicos";
@import "./assets/clientes";
@import "./assets/time";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header {
    .menu {
      padding: 0 75px;
    }
  }

  section#time {
    padding: 0 75px;
    .container {
      padding: 25px;
      justify-content: center;
    }
  }
}