.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgHms.png);
  background-size: cover;
  background-position: center;
  transition: all .1s ease-in-out;
  animation: banner 24s infinite linear;

  @keyframes banner {
    0% {
      background-image: url(../img/bgHms.png);
    }
    33% {
      background-image: url(../img/bgHms.png);
    }
    34% {
      background-image: url(../img/bgHms2.jpg);
    }
    66% {
      background-image: url(../img/bgHms2.jpg);
    }
    67% {
      background-image: url(../img/prefixado.jpg);
    }
    100% {
      background-image: url(../img/prefixado.jpg);
    }
  }

  .banner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.2);


    .content {
      position: relative;
      max-width: 750px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        color: #fff;
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 30px;
      }

      p {
        color: #1F7A16;
        font-size: 1.5em;
        background: #FFFF24;
        padding: 20px 40px;
        text-transform: uppercase;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}