section#footer {
  background: #4AAD52;
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mob {
    display: none;
  }

  p {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
    //font-style: italic;
    font-weight: 400;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      
      a {
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;

        img {
          filter: invert(1);
          max-width: 20px;
        }
      }
    }
  }
}