.menu-bg {
    background: #1a1a1a;
}

header {
  .menu {
    //max-width: 1200px;
    //margin: 0 auto;
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu-logo {
    width: 70px;
    height: 70px;
  }

  .menu-toggle {
    .toggle {
      background: url(../img/toggle.png);
      background-size: cover;
      display: none;
      color: white;
      width: 29px;
      height: 25px;
      position: absolute;
      right: 80px;
      top: 26px;
      cursor: pointer;
    }
  }

  .menu-item {
    display: flex;

    a {
      color: white;
      font-size: 1.25em;
      margin: 0 10px;
    }
  }

  
}