.menu-bg {
    background: #040000;
}

header {
  .menu {
    //max-width: 1200px;
    //margin: 0 auto;
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu-logo {
    width: 70px;
    height: 70px;
  }

  .menu-item {
    display: flex;

    a {
      color: white;
      font-size: 1.25em;
      margin: 0 10px;
    }
  }

  
}